.head-Section-About {
  height: calc(100vh - 4rem);
  background-image: url(../img/about_Home.png);
  top: 50%;
  left: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-Section {
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  gap: var(--step-0);
  margin-bottom: 100vh;
}

.head-Section-About .head-P {
  /* color: var(--light); */
  font-weight: 600;
  /* width: 50%; */
}

.about-Text {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-Box {
  width: 45%;
  height: fit-content;
  border-radius: calc(600px / 15);
}

.about-Img {
  max-width: 600px;
  border-radius: calc(600px / 15);
}
